@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
</div>
<div class="mb-3">

    @foreach (var maker in Model.Products.Select(c => c.Maker).Distinct())
    {    
        <a class="btn btn-outline-info" href="/MakerProducts/@maker">@maker</a>        
    }
</div>
<section class="card-columns">
  @foreach (var product in Model.Products)
  {
      var bgColor = product.Maker == "jenlooper" ? "bg-info" : "";
      <div class="card @bgColor" >
          <div class="card-body">
              <h3 class="card-title"> @product.Title; </h3>
              <div> Id: @product.Id</div>
              <div> Maker:@product.Maker</div>
              <div class="mt-3 text-right">
                  @*<a class="btn btn-primary" href="~/details?id=@product.Id">Details</a>*@
                  <a class="btn btn-primary" href="~/details/@product.Id">Details</a>
              </div>
          </div>
      </div>
  }
</section>